
.tabella {
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 10px;
  width: 280px;
  padding: 0.5rem;
  font-weight: normal;
  text-align: left;
  padding: 0.25rem 0;
  font-size: 0.8em;
  white-space: nowrap;
}
.riepilogo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  padding-top: 0.5rem;
}
