
.tabella {
  font-weight: normal;
  text-align: left;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 20px;
}
.riepilogo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  padding-top: 0.5rem;
}
